{%extends "base.html" %}

{%block newHeadContent%}
{%endblock%}

{%block headingRow%}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-md-3"><a href="https://github.com/juanluidos"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/aboutme.jpg" alt="Dibujo de mi persona" /></a>
    </div>
    <div class="col-md-9">
        <div class="col-md-12">
            <h2 class="font-weight-light">¿Quiénes somos?</h2>
            <p style="text-align:justify">Pues actualmente el desarrollo de esta aplicación está llevada por una persona, es decir, yo; Juan Luis Aguilera, estudiante de Ingeniería Informática.</p>
            <p style="text-align:justify"> En concreto este proyecto es el TFG para poder terminar la carrera, elegí que fuera una herramienta OSINT porque me encanta la cibserseguridad y aparte soy bastante curioso. 
                Así que qué mejor que crearme mi propia herramienta para facilitarme las búsquedas y así de paso poder presentar dicha herramienta como final de mi carrera.</p>
            <p style="text-align:justify">Aparte de redes/ciberseguridad también me gusta mucho programar en Python, es por eso que elegí como framework Flask y la parte de búsquedas son pequeños scripts escritos en Python.</p>
            <p style="text-align:justify">¿Y por qué una página web? Pues porque tras un pequeño estudio decidí que es lo más accesible y sencillo para cualquier usuario. Quizás una CLI o un bot de Telegram no sabe todo el mundo lo que es, pero una página web sí, no hay mucho mas misterio.</p>


        </div>
    </div>
</div>
{%endblock%}

{%block callToAction%}
<div class="card text-white bg-secondary my-4 py-2 text-center">
    <div class="card-body"><p class="text-white m-0"> Muchas gracias por usar Osintspector, para cualquier sugerencia/mejora/reporte en el pie de página tenéis mi contacto.</p></div>
</div>
{%endblock%}

{%block contentRow%}

<!-- Content Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-md-9">
        <div class="col-md-12">
            <h2 class="font-weight-light">¿Dónde he estudiado?</h2>
            <p style="text-align:justify">Pues estudio/estudié en la Universidad de Sevilla, en concreto la carrera de Ingeniería Informática - Tecnologías Informáticas y en la rama de 
                Tecnologías de la Información (es la rama que más se centra en redes/ciberseguridad).
            </p>
            <p style="text-align:justify">El tutor para este proyecto es/fue <a href="https://www.us.es/trabaja-en-la-us/directorio/angel-jesus-varela-vaca">Angel Jesús Varela</a>, gracias a él este proyecto pudo salir adelante, ayudándome cada vez que estaba en apuros.</p>

        </div>
    </div>
    <div class="col-md-3"><a href="https://www.us.es"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/us.jpg" alt="Logo de la Universidad de Sevilla" /></a>
    </div>
</div>

{%endblock%}