{%extends "base.html" %}

{%block newHeadContent%}
{%endblock%}

{%block headingRow%}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-md-3"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/aboutme.jpg" alt="..." /></div>
    <div class="col-md-9">
        <div class="col-md-12">
            <h2 class="font-weight-light">¿Quiénes somos?</h2>
            <p style="text-justify">Pues actualmente el desarrollo de esta pequeña aplicación está llevada por una persona Los resultados se englomerarán en distintas secciones, habrá una sección por casilla rellenada en el formulario previamente.</p>
            <p style="text-justify">El informe se genera de forma automática, la búsqueda será anónima y no se almacenará ninguna información sobre ésta</p></br>
        </div>
    </div>
</div>
{%endblock%}

{%block callToAction%}
<div class="card text-white bg-secondary my-4 py-2 text-center">
    <div class="card-body"><p class="text-white m-0"> Al realizar la búsqueda el proceso puede tardar bastante tiempo... Por favor tenga paciencia.</p></div>
</div>
{%endblock%}

{%block contentRow%}

<!-- Content Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-md-9">
        <div class="col-md-12">
            <h2 class="font-weight-light">¿Quiénes somos?</h2>
            <p style="text-align:justify">Pues actualmente el desarrollo de esta pequeña aplicación está llevada por una persona</p>
            <p style="text-align:justify">Los resultados se englomerarán en distintas secciones, habrá una sección por casilla rellenada en el formulario previamente.</p>
            <p style="text-align:justify">El informe se genera de forma automática, la búsqueda será anónima y no se almacenará ninguna información sobre ésta</p></br>
        </div>
    </div>
    <div class="col-md-3"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/us.jpg" alt="..." /></div>
</div>

{%endblock%}