<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Juan Luis Aguilera" />
        <title>OsintSpector</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/iconn.svg" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"/>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>

        {%block newHeadContent%}
        {%endblock%}
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/index.html">OsintSpector
                    <img src="static/assets/detective.png" width="30px" height="100%" align="left"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/about">Sobre nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="/info">De qué se trata este proyecto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <script>
            function clickClose() {
              alert("something");
            }
        </script>
        <div>
            <div class="container px-4 px-lg-5">

                <!-- Message Alert-->
                {% block message %}
                <div id="alerta" class="container">
                    {% for message in get_flashed_messages()[:1] %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endblock %}

                <!-- Heading Row-->
                {%block headingRow%}
                
                {% endblock %}
                <!-- Call to Action-->
                {%block callToAction%}

                {%endblock%}

                <!-- Content Row-->
                {%block contentRow%}

                {%endblock%}
            </div>

            <!-- Footer-->
            <footer class="py-3 bg-dark">
                <div class="container px-4 px-md-5"><p class="m-0 text-center text-white">Copyright &copy; Juan Luis Aguilera 2021. Universidad Sevilla</p>
                </div>
                <div class="container px-4 px-md-5"><p class="m-0 text-center text-white">
                    <a href="https://github.com/juanluidos" title="Github"><img src="static/assets/github.png" width="25px" height="100%" align="center"/></a>
                    <a href="https://www.linkedin.com/in/juan-luis-aguilera-rivero-20a095149/" title="LinkedIn"><img src="static/assets/linkedin.png" width="25px" height="100%" align="center"/></a> </br>
                </div>
                <div class="container px-4 px-md-5"><p class="m-0 text-center text-white">Iconos usados de <a href="https://www.freepik.es/">Freepik</a></p>
                </div>
            </footer>
        </div>
    </body>
</html>
