{%extends "base.html" %}

{%block newHeadContent%}
    <!-- Css formulario-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/formulario.css')}}"/>
{%endblock%}

{%block headingRow%}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-md-2"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/form.png" alt="..." /></div>
    <div class="col-md-8">
        <div class="col-md-12">
            <h2 class="font-weight-light">Información antes de rellenar el formulario</h2>
            <p style="text-align:justify">Escribe el @username de la cuenta de Twitter que quieras analizar.</p>
            <p style="text-align:justify">Los resultados se englomerarán en distintas secciones con diferentes estudios realizados en base a la información recogida de su cuenta de Twitter.</p>
            <p style="text-align:justify">El informe se genera de forma automática, la búsqueda será anónima y no se almacenará ninguna información sobre ésta</p></br>
            <p style="text-align:justify">Para más información entre aquí:</p> 
        </div>
        <div class="col-md-0">
            <a class="btn btn-primary" href="/info">Mas información</a>
        </div>
    </div>
    <div class="col-md-2"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/glass.jpg" alt="Magnifying glass with twitter logo in it" /></div>
</div>
{%endblock%}
    
{%block callToAction%}
<div class="card text-white bg-secondary my-4 py-2 text-center">
    <div class="card-body"><p class="text-white m-0"> Al realizar la búsqueda el proceso puede tardar bastante tiempo... Por favor tenga paciencia.</p></div>
</div>
{%endblock%}

{%block contentRow%}

<!-- Content Row-->
<div class="page-wrapper-twitter">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Formulario Análisis Username</h2>
            </div>
            <div class="card-body">
              <form action="{{ url_for('resultTwitter') }}" method="POST"> <!-- Post method que desemboque en /resultTwitter los resultados-->
                    <div class="form-row">
                        <div class="name">Username</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" id="usuario" name="usuario" placeholder="username">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-sm" type="submit">Analizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}