{%extends "base.html" %}
{%block headingRow%}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/mapa.png" alt="..." /></div>
    <div class="col-lg-5">
        <h2 class="font-weight-light">En qué consiste este proyecto</h2>
        <p style="text-align:justify">Este proyecto consiste en una herramienta que recopila información que está publicada en Internet sobre una persona, engoblando su nombre, apellidos, nick, correo electrónico, redes sociales, etc.</p>
        <a class="btn btn-primary" href="/info">Mas información</a>
    </div>
</div>
{%endblock%}

{%block callToAction%}

<div class="card text-white bg-secondary my-4 py-2 text-center">
    <div class="card-body"><p class="text-white m-0"> Diferentes formas de conseguir información pública de tu objetivo</p></div>
</div>
{%endblock%}

{%block contentRow%}

<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Búsqueda estándar</h2>
                <p style="text-align:justify" class="card-text">Añadiendo toda la información que sepas del objetivo, por ejemplo, su nombre, apellidos, correo electrónico, ciudad/país, etc.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/buscar_Persona">Buscar</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Análisis de su Twitter</h2>
                <p style="text-align:justify" class="card-text">Si conoces su nombre de usuario "@" podremos analizar su perfil y conseguir información sensible e importante del objetivo.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/buscar_Persona_Twitter">Analizar</a></div>
        </div>
    </div>
</div>

{%endblock%}