{%extends "baseResultados.html" %}

{%block newHeadContent%}
<!--Chart.js para grafico sentimental-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Vis-network.js para grafico top interacciones-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<!--Tabulator para localizaciones-->
<link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>
<!--Manejo de las horas con Luxon-->
<script src="https://cdn.jsdelivr.net/npm/luxon@1.28.0/build/global/luxon.min.js"></script>
{%endblock%}

{%block headingRow%}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-12 text-center">
        <h1 class="font-weight-light">Resultados de la Búsqueda</h1>
    </div>
</div>
{%endblock%}
{%block contentRow%}
<div class="container">
    <div class="text-justify" id="intro">
    <p>MLorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
        obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
        tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
        quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
        sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
        recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
        minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
        quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
        fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
        consequuntur! Commodi minima excepturi repudiandae velit hic maxime
        doloremque. Quaerat provident commodi consectetur veniam similique ad 
        earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
        fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
        suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
        modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
        totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
        quasi aliquam eligendi, placeat qui corporis!</p>
    </div>
    <div id="wordcloud">
        <div class="text-justify">
            <h3>Wordcloud</h3>
            <p>NLorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
                sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
                minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
                quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
                fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
                consequuntur! Commodi minima excepturi repudiandae velit hic maxime
                doloremque. Quaerat provident commodi consectetur veniam similique ad 
                earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
                fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
                suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
                modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
                totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
                quasi aliquam eligendi, placeat qui corporis!</p>
        </div>
        <div>
            <img class="img-fluid mx-auto d-block" src="data:image/png;base64,{{ img_data }}" alt="Wordcloud generada en la búsqueda">
        </div>
    </div>
    <div id="sentimental">
        <div class="text-justify">
            <h3>Análisis de Sentimientos de los Tweets</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
                sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
                minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
                quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
                fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
                consequuntur! Commodi minima excepturi repudiandae velit hic maxime
                doloremque. Quaerat provident commodi consectetur veniam similique ad 
                earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
                fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
                suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
                modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
                totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
                quasi aliquam eligendi, placeat qui corporis!</p>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th colspan="4" class="table-active; text-center">Tabla TOP emociones</td>
                            </tr>
                            <tr>
                                <th class="text-center">Emoción</th>
                                <th class="text-center">Score</th>
                                <th class="text-center">Tweet</th>
                                <th class="text-center">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emocion, score, tweet, link in listaTopTweets %}
                            <tr>
                                <td>{{ emocion }}</td>
                                <td>{{ score }}</td>
                                <td class="text-justify">{{ tweet }}</td>
                                <td><a href="{{ link }}" target="_blank">Enlace</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <canvas id="chart"></canvas>
            </div>
        </div>
        <script>
            // Contar la cantidad de cada emoción en la lista
            var count = {};
            var emotions = {{ emotions | tojson }}
            var listaTopTweets = {{ listaTopTweets | tojson }}
            for (var i = 0; i < emotions.length; i++) {
                var emotion = emotions[i];
                count[emotion] = (count[emotion] || 0) + 1;
            }
        
            // Crear un array con los valores de conteo
            //Primero creamos la estructura de datos vacía
        
            var data = {
                labels: [],
                datasets: [{
                    data: [],
                    backgroundColor: []
                }]
            };
        
            var backgroundColors = [
            'rgba(255, 99, 132, 0.7)',
            'rgba(54, 162, 235, 0.7)',
            'rgba(255, 206, 86, 0.7)',
            'rgba(75, 192, 192, 0.7)',
            'rgba(153, 102, 255, 0.7)',
            'rgba(255, 159, 64, 0.7)',
            'rgba(255, 0, 0, 0.7)',
            'rgba(0, 0, 255, 0.7)',
            'rgba(0, 255, 0, 0.7)',
            'rgba(128, 128, 128, 0.7)'
            ]
            
            var colorMap = {
                'anger': 'rgba(255, 99, 132, 0.7)',
                'joy': 'rgba(75, 192, 192, 0.7)',
                'sadness': 'rgba(54, 162, 235, 0.7)',
                'fear': 'rgba(215, 215, 215, 0.7)'
            };
            
            for (var emotion in count) {
                if (count.hasOwnProperty(emotion)) {
                    data.labels.push(emotion);
                    data.datasets[0].data.push(count[emotion]);
                    data.datasets[0].backgroundColor.push(colorMap[emotion]);
                }
            }
        
            var total = data.datasets[0].data.reduce(function(a, b) { return a + b; }, 0);
        
            //Opciones
            var options = {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            boxWidth: 15,
                            fontSize: 12,
                            fontColor: 'black',
                            usePointStyle: true,
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                var index = context.dataIndex;
                                var value = context.dataset.data[index];
                                var label = context.label || '';
                                var percentage = Math.round(value / total * 100);
                                return label + ' ' + value + ' (' + percentage + '%)';
                            }
                        }
                    }
                }
            };
        
            // Crear el gráfico y mostrarlo en el canvas con el ID 'chart'
            var ctx = document.getElementById('chart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: options
            });
            
            //Hacemos responsive el grafico
            var canvas = document.getElementById('chart');
            var heightRatio = 1.5;
            canvas.height = canvas.width * heightRatio;
            
        </script>
    </div>
    <div style="margin-bottom:16px" id="grafoTop">
        <div class="text-justify">
            <h3>Grafo Top Interacciones Usuarios</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
                sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
                minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
                quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
                fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
                consequuntur! Commodi minima excepturi repudiandae velit hic maxime
                doloremque. Quaerat provident commodi consectetur veniam similique ad 
                earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
                fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
                suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
                modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
                totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
                quasi aliquam eligendi, placeat qui corporis!</p>
        </div>
        <div class="d-flex justify-content-center" id="grafo" style="width: 100%; height: 700px; border: 1px solid #ddd;"></div>
        <script type="text/javascript">
            // Obtener la lista de tuplas desde Flask
            var lista_tuplas = {{ listaTuplasTop | tojson }};
            var user = {{usuario | tojson }}
    
            // Resto del código para crear el grafo, como se mostró anteriormente
    
            //Opciones del grafo
            var options = {
              nodes: {
                shape: 'circle',
                borderWidth: 1,
              },
              physics: {
                enabled: false
              }
            };
    
            // Crear un nuevo grafo
            var grafo = new vis.Network(
              document.getElementById('grafo'),
              {nodes: [], edges: []},
              options
            );
    
            // Agregar el nodo central fijo
            var nodos = new vis.DataSet([{id: user, label: user,x: 0, y: 0, fixed:true}]); //Nodo central innamovible
    
            // Agregar los primeros 10 nodos en un círculo alrededor del nodo central
            var angulo = 2 * Math.PI / 10;
            for (var i = 1; i <= 10; i++) {
                if(lista_tuplas.length >= i){
                    var x = Math.cos(i * angulo) * 150;
                    var y = Math.sin(i * angulo) * 150;
                    var nodo = {id: lista_tuplas[i-1][0], label: lista_tuplas[i-1][0], x: x, y: y,interacciones: "Hola"
                    };
                    nodos.add(nodo);
                }
                else{
                    break
                }
            }
    
            // Agregar los siguientes 20 nodos en un círculo exterior alrededor del círculo interior
            var angulo2 = 1 * Math.PI / 10;
            for (var i = 11; i <= 30; i++) {
                if(lista_tuplas.length >= i){
                    var x = Math.cos(i * angulo2) * 300;
                    var y = Math.sin(i * angulo2) * 300;
                    var nodo = {id: lista_tuplas[i-1][0], label: lista_tuplas[i-1][0], x: x, y: y, interacciones: "Hola"// 
                    };
                    nodos.add(nodo);
                }
                else{
                    break
                }
            }
    
            // Agregar las aristas desde la lista de tuplas
            var aristas = [];
            for (var i = 0; i < lista_tuplas.length; i++) {
              var tupla = lista_tuplas[i];
              var arista = {from: user, to: tupla[0], value: tupla[1]};
              aristas.push(arista);
              var aristasDataSet = new vis.DataSet(aristas)
            }
    
            // Cambiar los tamaños de la fuente antes de actualizar el grado con los nuevos nodos
            nodos.forEach(function (node) {
              var label = node.label || "";
              var fontSize = Math.max(Math.min(14, 150 / label.length), 10); //cambia el tamaño de la fuente del texto dependiendo de la cantidad de texto del nodo. Minmo 10 maximo 14
              node.font = {size: fontSize, color: '#000000', autoResize: true};
              node.size = 16
              node.color = {highlight:'#727272', inherit: false, opacity:1.0}
            });
    
              // Crear el elemento del popup
              var popup = document.createElement('div');
              popup.style.position = 'absolute';
              popup.style.display = 'none';
              popup.style.zIndex = '1000';
              popup.style.backgroundColor = '#ffffff';
              popup.style.border = '1px solid #ddd';
              popup.style.borderRadius = '45%';
              popup.style.padding = '10px';
              popup.style.textAlign = "center"
    
              // Agregar el manejador de eventos de clic
              grafo.addEventListener('click', function(params) {
                if ((params.nodes.length > 0 && (params.nodes[0] != user))) {
                  // Obtener las coordenadas del evento de clic
                  console.log(params.pointer)
                  console.log(params)
                  console.log(params.event.srcEvent.pageY)
                  var x = params.event.srcEvent.pageX;
                  var y = params.event.srcEvent.pageY;
                  var nombreUsuario = params.nodes
                  var linkUsuario = "https://twitter.com/" + nombreUsuario
    
                  // Actualizar la posición del popup y hacerlo visible
                  popup.style.left = x-30 + 'px';
                  popup.style.top = y-30 +'px';
                  popup.style.display = 'block';
                  
                  // Crear el enlace del popup y establecer el destino a Twitter
                  var enlace = document.createElement('a');
                  enlace.setAttribute('href', linkUsuario);
                  enlace.textContent = 'Perfil de Twitter';
                  enlace.style.fontWeight = "bold"
                  enlace.setAttribute("target", "_blank")
                  popup.innerHTML = nombreUsuario + '<br>' + 'Nº Interacciones:'+ aristasDataSet.get(params.edges[0]).value +'<br>'; // nº interacciones que ha tenido el usuario con este nodo
                  popup.appendChild(enlace);
    
                } else {
                  // Ocultar el popup si no se hizo clic en un nodo o arista
                  popup.style.display = 'none';
                }
              });
    
              // Agregar el elemento del popup al contenedor de la red
              document.getElementById('grafo').appendChild(popup);
    
            // Actualizar el grafo con los nodos y las aristas
            grafo.setData({nodes: nodos, edges: aristas});
        </script>
    </div>
    <div id="grafoComunidad">

    </div>
    <div id="localizaciones">
        <div class="text-justify">
            <h3>Tabla de Localizaciones</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
                sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
                minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
                quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
                fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
                consequuntur! Commodi minima excepturi repudiandae velit hic maxime
                doloremque. Quaerat provident commodi consectetur veniam similique ad 
                earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
                fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
                suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
                modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
                totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
                quasi aliquam eligendi, placeat qui corporis!</p>
        </div>
        <div class="table table-striped table-hover mx-auto w-auto" id="tablaLocalizaciones">
        </div>
    </div>
        <script>
            lista = {{localizaciones |tojson}}
        
            var tableColumns = [
                {title: "Fecha publicación", field: "datetime", hozAlign:"center", formatter: "plaintext", headerFilter: "input", headerFilterPlaceholder:"Filtro fechas",
                sorter: function(a, b, aRow, bRow, column, dir, sorterParams) {
                    // Convertir la cadena de fecha en un objeto de fecha
                    var dateA = new Date(a);
                    var dateB = new Date(b);
                    
                    // Crear un valor numérico basado en el formato deseado
                    var numA = dateA.getFullYear() * 10000000000 + (dateA.getMonth()+1) * 100000000 + dateA.getDate() * 1000000 + dateA.getHours() * 10000 + dateA.getMinutes() * 100 + dateA.getSeconds();
                    var numB = dateB.getFullYear() * 10000000000 + (dateB.getMonth()+1) * 100000000 + dateB.getDate() * 1000000 + dateB.getHours() * 10000 + dateB.getMinutes() * 100 + dateB.getSeconds();
                    
                    // Devolver el resultado de la comparación
                    return numA - numB;
                }},
                {title: "URL Tweet", field: "url", vertAlign: "top", formatter: "link", headerSort:false, formatterParams: {labelField: "url", target: "_blank"}}
            ];
            
            var tableData = [];
            for (var i = 0; i < lista.length; i++) {
                var item = lista[i];
                for (var j = 0; j < item.datetime.length; j++) {
                    var time = item.datetime[j].slice(5)
                    tableData.push({
                        location: item.location,
                        datetime: time,
                        maps: item.maps,
                        url: item.url[j],
                    });
                }
            }
            var table = new Tabulator("#tablaLocalizaciones", {
                data: tableData,
                layout: "fitDataStretch",
                columns: tableColumns,
                placeholder:"No hay localizaciones disponibles en los tweets del usuario",
                groupBy: function(data){
                    //data - the data object for the row being grouped
                    return data.location; //groups by location
                },
                groupHeader:function(value, count, data, group){
                    //value - the value all members of this group share
                    //count - the number of rows in this group
                    //data - an array of all the row data objects in this group
                    //group - the group component for the group
                
                    return value  + " - " + "<a href='" + data[0].maps +"'target='_blank'>Link localización</a>" +"<span style='color:#d00; margin-left:10px;'>(" + count + " item)</span>";
                }
            });
        </script>
    </div>

</div>
{%endblock%}