<html>
<body>

    <p>Búsqueda para {{nombre}} con nickname {{nickname}}</p>

    {% if nickname %}
    <p> si había nickname es {{nickname}}</p>
    <p> los resultados son: {{resultadoNickname}}</p> </br>
    
    {% endif %}
    <!-- Poner cuando este bonito que no se aportó el nickname-->
    {% if email %}

    <p> si había email es {{email}}</p>
    <p> los resultados son: {{resultadosBreached}}</p> </br>
    <p> estos resultados leaked email son una lista de jsons, cada uno tiene propiedad name, title, domain, breachDate, addedDate modifieddate, pqncount, descirption</p>
    <p> además los Pastes son: {{resultadosPasted}}</p> </br>
    <p> estos pastes son una lista de jsons, cada uno tiene propiedad id, source, title, date, emailcount</p>



    {% endif %}

</body>

</html>